<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="container-fluid">
    <a class="navbar-brand" >APP CRUD</a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="collapse navbar-collapse " id="navbarNavAltMarkup" style="

        display: flex;
        flex-direction: row-reverse;">
      <div class="navbar-nav">

        <a class="nav-link" href="/main/usuarios">Usuarios</a>
        <a class="nav-link" href="/main/actividades">Actividades</a>

      </div>
    </div>
  </div>
</nav>
<br>
<router-outlet></router-outlet>
