:root {
  --main-color: #AAE781;
  /* --main-color: #6EA820; */
  --main-font-color: #80A64C;
  /* --main-font-color: #8BE97C; */
  --gray-font-color: #777;
  --main-dark-color: #4D693B;
  --bg-dark: #363636;
  --dark-gray: #515151;
}
h1{
  position: relative !important;
  top: auto !important;
  left: auto !important;
  text-align: center !important;
  font-size: xxx-large !important;
  font-weight: 700 !important;
  color: white !important;
  font-family: 'Poppins' !important;
  }


.arboles-admin__contenedor{
  width: 100%;
  /* height: 60rem; */
  padding: 5rem;
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  border-radius: 5px;

  background-color:  #DDDEDE;
}


table {
  width: 100%;
}


.span-nuevo-arbol{
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 2rem;
}

th{
  /* width: 20%; */
}

/*
 *  MAT TABLE
*/
.mat-column-commentId{
  text-align: center !important;
  flex: 0 0 5% !important;
  width: 5% !important;
}

.mat-column-date{
  text-align: center !important;
  flex: 0 0 7% !important;
  width: 7% !important;
  text-align: center !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  padding: 0 1em;
}

.mat-column-email{
  text-align: center !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-name{
  text-align: center !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  font-weight: bold;
  text-transform: capitalize;

  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-message{
  text-align: center !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 30% !important;
  width: 30% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-show{
  text-align: center !important;
  flex: 0 0 5% !important;
  width: 5% !important;
}
.mat-column-delete{
  text-align: center !important;
  color: var(--main-dark-color) !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
}
.mat-header-cell .mat-sort-header-sorted {
  color: var(--main-dark-color)
}

.mat-raised-button{
  color: var(--main-dark-color) !important;
}


/*
* MATERIAL CHECKBOX
*/
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: var(--main-dark-color)!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: var(--main-dark-color)!important;
}
